.body {
    background-color: rgb(126, 129, 127);
    text-align: center;
}
.head {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(187, 184, 184);
    text-align: center;
    background-color: black;
    border: 6ch;
    font-size: large;
}
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
}
.card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 300px;
}
.card img {
    max-width: 100%;
    height: auto;
}
.card h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.card p {
    margin-top: 0.5rem;
    color: #555;
}
.card button {
    background-color: #697583;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: auto;
}

.button-agendar {
    display: inline-block;
    background-color: #697583;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}    
.detalhes {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}
.subtitle {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(212, 212, 210);
    color: black;
    font-size: 20px;
    border: 4ch;
}

.header {
    background-attachment: fixed;    
    border: 0ch;
}
#form-agendamento {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
#form-agendamento input[type="text"],
#form-agendamento input[type="email"],
#form-agendamento input[type="time"]{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}
#form-agendamento button {
    padding: 10px 15px;
    background-color: #697583;
    color: white;
    border: none;
    cursor: pointer;
}
#form-agendamento button:hover {
    background-color: #45a049;
}

